.circleRating {
    background-color: var(--black);
    border-radius: 50%;
    padding: 2px;
    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);
    }
    .CircularProgressbar-trail {
        stroke: transparent;
    }
}
